.duan {
	.left {
		a {
			border: 1px solid $grey1;
			color: $black;
			&:first-child {
				border-radius: 4px 0 0 4px;
			}
			&:last-child {
				border-left: none;
				border-radius: 0 4px 4px 0;
			}
			&.active {
				background-color: $yellow_active;
				border-color: $yellow1;
			}
		}
	}
	.right {
		margin-left: auto;
	}
	.box-filter {
		border: 1px solid $grey1;
		.filter-head {
			border-bottom: 1px solid $grey1;
			width: 90%;
			margin: 0 auto;
		}
		a {
			color: $black;
			&:hover {
				color: $yellow1;
			}
		}
	}
	.item {
		position: relative;
		border: 1px solid $grey1;
		min-height: 172px;
		border-radius: 6px;
		.thumbnail{
			width: 280px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 6px;
			}
		}
		.information {
			width: calc(100% - 280px);
		}
		.p-info {
			justify-content: flex-start;
			align-items: center;
		}
		.favorite {
			height: 30px;
			width: 30px;
			position: absolute;
			right: 20px;
			bottom: 20px;
			img {
				width: 100%;
				height: auto;
			}
		}
		.time {
			display: flex;
			align-items: center;
		}
		.labeltime {
			position: relative;
			&:hover .time-tl{
				display: block;
			}
			.time-tl {
				display: none;
				position: absolute;
				background: $yellow_active;
				color: $black1;
				width: 120px;
			  	text-align: center;
			  	border-radius: 6px;
			  	position: absolute;
			  	z-index: 1;
			  	&::after {
				  	content: " ";
				  	position: absolute;
				  	top: -25%;
				  	left: 50%;
				  	margin-left: -5px;
				  	border-width: 5px;
				  	border-style: solid;
				  	border-color: transparent transparent $yellow_active transparent;
				}
			}
		}
	}
	.badge {
		border-radius: 20px;
		cursor: pointer;
		&:hover {
			background-color: $yellow_active;
		}
	}
}
