.hp-news {
    &__link {
        display: block;
        font-size: 16px;
        color: $black;
        padding: 10px 0;
        &:hover {
            color: $yellow1;
        }
    }
    >li:not(:last-child) {
        border-bottom: 1px solid $grey1;
    }
}

.big-news {
    .info {}
    &__title {
        color: $black;
        &:hover {
            color: $yellow1;
        }
    }
}

.datetime {
    color: $grey3;
}

.icon-15 {
    height: 15px;
}

.banner {
    &--thumb {
        height: 400px;
    }
}

.nav-tabs.hp {
    border-bottom: none;
    min-width: 500px;
    overflow-y: hidden;
    .nav-link {
        font-size: 20px;
        font-weight: bold;
        border: none;
        color: $black;
        &.active {
            border-bottom: 3px solid $yellow1;
        }
    }
}

.tab-content.hp {
    padding-top: 20px;
}

.panel-head {
    position: relative;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 15px;
    margin-bottom: 30px;
    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 120px;
        background: $yellow1;
    }
}

.hp-3 {
    &__item {
        position: relative;
    }
    &__thumb {
        position: relative;
        height: 180px;
        @media (max-width: 575px) {
            height: auto;
        }
        &::before {
            position: absolute;
            content: "";
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
        &.h-360 {
            height: 370px;
            @media (max-width: 575px) {
                height: auto;
            }
        }
    }
    &__info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        h3,
        a {
            height: 100%;
            width: 100%;
            display: block;
        }
    }
    &__info-link {
        padding: 20px;
    }
}

.place-name {
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-transform: capitalize;
    display: block;
}

.place-number {
    font-size: 14px;
    color: #ffffff;
    display: block;
}

.hp-pb-40 {
    padding-bottom: 40px;
}

.top-footer {
    background: $grey1;
    padding-top: 40px;
    padding-bottom: 40px;
    &__title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &__link {
        display: block;
        color: $black1;
        padding-bottom: 5px;
        &:hover {
            color: $yellow1;
        }
    }
}
.tags-slide{
    margin-top: 10px;
    margin-bottom: 10px;
    &__link{
        display: inline-block;
        margin-right: 11px;
        background: #ececec;
        border-radius: 5px;
        padding: 8px 14px;
        text-align: center;
        color: $black;
        margin-bottom: 10px;
    }
}
.adv-image{
    display: block;
    height: 220px;
}
.hp-highlights{
    position: relative;
    &__item{
        display: block;
        padding: 2%;
        &:hover .hp-highlights__info{
            color: $yellow1;
        }
    }
    &__thumb{
        margin-bottom: 15px;
    }
    &__info{
        font-size: 16px;
        font-weight: bold;
        color: $black;
        &:hover{
            color: $yellow1;
        }
    }
}
.viewMore{
    display: inline-block;
    color: #4a7eb7;
}
.hp-hotnews{
    &__item{
        &:hover{
            .hp-hotnews__link{
                color: $yellow1;
            }
        }
    }
    &__info{
        display: flex;
        align-items: center;
    }
    &__number{
        font-weight: bold;
        font-size: 30px;
        text-transform: capitalize;
        color: $yellow1;
        display: inline-block;
        margin-right: 10px;
    }
    &__link{
        font-weight: 600;
        font-size: 16px;
        color: $black;
    }
}
.home-utility{
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-weight: 600;
        font-size: 18px;
        height: 100%;
        min-height: 85px;
        margin-bottom: 1px;
        &:hover{
            color: #ffffff;
            background: $yellow1;
        }
    }
}
.color-1 {
    background: #7ac6ea;
}   
.color-2 {
    background: #50a9d3;
}
.color-3 {
    background: #4a7eb7;
}
.color-4 {
    background: #2668a2;
}