.pc-header {
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid $grey1;
    background: #fff;
    z-index: 9999;
    &__left {
        display: flex;
        align-items: center;
    }
    &__right {
        display: flex;
        align-items: center;
    }
    &--pd {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.pc-menu {
    display: flex;
    flex-wrap: wrap;
    &__link {
        display: inline-block;
        color: $black;
        font-weight: bold;
        padding: 5px 10px;
        &:hover {
            color: $yellow1;
        }
    }
    >li {
        position: relative;
        &:hover {
            .sub-menu {
                display: block;
            }
            .pc-menu__link {
                color: $yellow1;
            }
        }
    }
}

.sub-menu {
    position: absolute;
    width: 240px;
    display: none;
    left: 12px;
    top: 100%;
    zoom: 1;
    background: #fff;
    box-shadow: 0 3px 6px #032c473d;
    border-radius: 8px;
    padding: 8px 0;
    &__link {
        display: block;
        padding: 5px 10px;
        color: $black;
        &:hover {
            color: $yellow1;
        }
    }
}

.logo .image {
    max-width: 120px;
    display: block;
    padding-right: 15px;
}

.login {
    &__link {
        padding-right: 15px;
        color: $black;
        &:not(:first-child) {
            padding-left: 15px;
            border-left: 1px solid;
        }
    }
}

.post-news {
    display: inline-block;
    border: 1px solid $grey1;
    border-radius: 4px;
    padding: 10px 16px;
    font-weight: bold;
}

// mobile header
.mb-header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
    background: #ffffff;
    padding: 10px 0;
    box-shadow: 0 2px 4px #00000014 !important;
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &--right{
        display: flex;
        align-items: center;
        span{
            cursor: pointer;
            display: inline-block;
            margin-left: 10px;
        }
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav .closebtn {
    display: block;
    text-align: right;
    padding: 0 10px;
    color: #818181;
}

.sidenav a:hover .arrow-down>img {
    // filter: invert(1);
}

.sidenav .closebtn {
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.cancel {
    filter: invert(0.6);
    &:hover {
        filter: invert(1);
    }
}

.mb-menu {
    height: calc(100vh - 60px);
    overflow-y: auto;
    >li {
        position: relative;
        &:not(:last-child) {
            border-bottom: 0.5px solid #e8e8e8;
        }
        a {
            padding: 8px 8px 8px 15px;
            text-decoration: none;
            color: #2c2f36;
            transition: 0.3s;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
        }
        &.active {
            background: #f5f6f7;
        }
        &.active .mb-sub-menu {
            opacity: 1;
            visibility: visible;
            height: auto;
        }
    }
    .text {
        font-size: 14px;
    }
}

.mb-sub-menu {
    position: relative;
    padding-left: 20px;
    opacity: 0;
    visibility: hidden;
    height: 0;
    >li {
        border-top: 0.5px solid #e8e8e8;
    }
}

.arrow-down>img {
    filter: contrast(0.2);
}

.nav-search {
    background: #fff;
    position: relative;
    box-shadow: 0 2px 8px rgba(4, 55, 88, 0.1);
    display: block;
    @media (max-width: 1440px) {
        display: none;
    }
}

.input-search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $grey1;
}

.nav-middle input.add-search {
    border: 1px solid #ccd3d9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 35px 10px 48px;
    width: 280px;
    height: 40px;
    background: #fff url("../images/search.svg") no-repeat 16px center;
    font-weight: normal;
}

.but-action {
    &__item {
        text-align: center;
        width: 50%;
        height: 40px;
        padding: 10px;
        color: #2c2f36;
        float: left;
        cursor: pointer;
        position: relative;
        z-index: 1;
        border: 1px solid $yellow1;
        &:first-child {
            border-right: none;
            border-radius: 8px 0 0 8px;
        }
        &:last-child {
            border-radius: 0 8px 8px 0;
        }
        &.actived {
            background-color: $yellow1;
            color: white;
        }
        &:not(.actived):hover {
            background-color: $yellow_active;
            color: white;
        }
    }
}

.nav-dropdown {
    position: relative;
    width: calc((100% - 297px) * 0.17);
    border-right: 1px solid $grey1;
    cursor: pointer;
    &:hover {
        background-color: $yellow1;
    }
    &:hover &__label,
    &:hover &__default:not(.hasTxt) {
        color: white;
    }
    &__default {
        cursor: pointer;
        line-height: 20px;
        color: $black2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
        &.hasTxt {
            color: $yellow1;
            font-weight: bold;
        }
    }
    &__label {
        font-size: 11px;
        line-height: 16px;
        height: 16px;
        letter-spacing: 0.16px;
        color: $black2;
        padding-right: 20px;
        background: url("../images/caret_down.svg") no-repeat right;
        padding-bottom: 4px;
        cursor: pointer;
        display: inline-block;
        @media only screen and (max-width: 1586px) and (min-width: 1281px) {
            white-space: nowrap;
        }
    }
    &__option {
        display: none;
        position: absolute;
        max-height: 308px;
        padding: 8px 0 0 0;
        border-radius: 8px;
        box-shadow: 0 8px 32px rgba(8, 55, 81, 0.3);
        border-radius: 8px;
        padding: 8px 0 0 0;
        top: 64px;
        left: 0;
        z-index: 99;
        background: #fff;
        border: 0;
        min-width: 280px;
        touch-action: auto;
    }
    &__ddScroll {
        position: relative;
        overflow: auto;
        height: 100%;
        max-width: 100%;
        outline: none;
        direction: ltr;
        max-height: 300px;
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        &::-webkit-scrollbar-thumb {
            background: $yellow_active;
        }
    }
    .dd-item {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        line-height: 40px;
        color: $black1;
        padding: 0;
        &__title {
            display: flex;
            &.actived {
                color: $yellow1;
                background: #edf7ff;
                cursor: pointer;
                font-weight: bold;
            }
        }
    }
    .sub-item {
        span {
            display: flex;
            &.actived {
                color: $yellow1;
                background: #edf7ff;
                cursor: pointer;
                font-weight: bold;
            }
        }
    }
    .input-option:checked~&__option {
        display: block;
    }
}

.btn-search {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 6px 12px;
    white-space: nowrap;
    background-color: $yellow1;
    color: white;
    border-radius: 3px;
}

@media (max-width: 1250px) {
    header.pc-header {
        display: none !important;
    }
    .mb-header {
        display: block;
    }
}

@media (min-width: 1250px) {
    header.pc-header {
        display: block !important;
    }
    .mb-header {
        display: none;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
.mb-input{
    width: 100%;
    padding: 15px;
    border: 1px solid #00000014 !important;
    margin-bottom: 8px;
    border-radius: 2px;
    height: 50px;
    :focus{
        border: 1px solid #00000014 !important;
    }
}
.search-tab-mb{
    margin-bottom: 10px;
    li{
        width: 50%;
        .nav-link{
            border-radius: 0 !important;
            @media (max-width: 575px) {
                font-size: 12px !important;
                min-width: auto !important;
            }
        }
    }
}
body .mb-modal{
    .modal-dialog{
        min-height: 100%;
        max-height: 100% !important;
        height: 100%;
        margin: 0 ;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        .modal-content{
            height: 100%;
            :focus{
                border: 1px solid
            }
        }
    }
}
