// Color
$white: #ffffff;
$black: #333333;
$black1: #3b4043;
$black2: #707070;
$blue2: #0075ff;
$blue1: #0075ff;
$red: #d7162e;
$red1: #ff0000;
$red2: #ff2424;
$brown: #6a380e;
$brown1: #a9927e;
$yellow1: #5a420c;
$yellow2: #ffcc00;
$grey1: #eeeeee;
$grey2: #cccccc;
$grey3: #777777;
$yellow_active: #a177184d;
$grey1: #cdd6dd;
$grey2: #cccccc;
$primaries: #02408a;
.color-black {
    color: $black;
}

.color-black1 {
    color: $black1;
}

.color-black2 {
    color: $black2;
}

.bg-grey1 {
    background-color: $grey1;
}

.color-grey1 {
    color: $grey1;
}

.color-grey2 {
    color: $grey2;
}

.color-yellow_active {
    color: $yellow_active;
}

.color-yellow1 {
    color: $yellow1;
}
.color-yellow2 {
  color: #aa8022;
}
